*{
    padding: 0%;
    margin: 0%;
}

#navBar{
    display: flex;
    
    justify-content: space-around;
    margin: 0%;
    background-color:#ff0245;
    padding: 0%;
    height: 70px;
  
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
#left_section{
    display: flex;
    height: 50%;
color: white;
    width: 70%;
    justify-content: space-around;
    margin-top: 15px; 
    padding-top: 8px;
}

#left_section>div h3:hover{
    color: #ff6f61;
    cursor: pointer;
}
#left_section>div>a{
   text-decoration: none;
   color: white;
}
#right_section{
    display: flex;
    font-size: medium;
    height: 20%;
    color: white;
    margin-top: 27px;
    width: 45%;
    justify-content: space-around;
}

#right_section .right:nth-child(3){

  /* margin-top: auto; */
  margin-top: -6px;
}
.logoimg{
    margin-left: 10px;
    display: flex;
    width:20%;
    margin-top: 15px;
}
.logoimg>img:nth-child(1){
width:45px;
height:45px;

}
.logoimg>img:nth-child(2){
    width:150px;
    height: 40px;
    margin-top: 5px;
  
    }

.fun{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 5px;
   
}
.search{
    margin-left: 350px;
    height:35px;
    width:300px;
  
    
}
.s{
    color: white;
    background-color: black;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.option{
    margin-left: 30px;
}












    /*-----------------------*/
.product{
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(5,1fr);
width: 90%;
gap: 3%;
margin: auto;
margin-top: 50px;
}
.product>div{

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    .product>div:hover{
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
    .img{
        height:206px;
        width:176px;
text-align: center;
padding-bottom: 20px;
padding-top: 20px;
margin: auto;
    }
    .img>img{
        height:206px;
        width:176px;
        text-align: center;
        
            }
    .product>div>p{
        text-overflow: ellipsis;
        overflow: hidden;
       color:#999999;
       font-size: 14px;
       font-family: sans-serif;
      width: 188px;
       height: 50px;
      margin: auto;
  
         }
         .product>div>h3{
         padding-top: 7px;
         font-family: sans-serif;
         padding: 10px 0px 10px 10px;
         color: #333333;
         font-size: 15px;
         }
.btn{
    display: flex;
    margin: auto;
    width:85%;
    justify-content: space-around;
    padding:20px 0px 20px 0px;
}
.btn>div{

/*border: 1px solid rebeccapurple;*/
padding: 5%;
color: white;
background-color: #ff2802;
border-radius: 10px;
}
.btn>div:hover{
    background-color: rgb(51, 255, 0);
}
.head{
    text-align: center;
}